// Заголовки, загальні БЕМ блоки та інше...

//========================================================================================================================================================

// .fancybox__container {
//     max-width: none;
// }

//========================================================================================================================================================

.title {
  font-weight: 800;
  font-size: 60px;
  line-height: 110%;
  text-transform: uppercase;
  color: #262424;

  &_white {
    color: #fff;
  }

  span {
    color: #24abff;
  }
}

.text {
  font-weight: 400;
  @include adaptiveValue("font-size", 20, 18);
  line-height: 120%;
  text-align: center;
  color: #262424;

  &_white {
    color: #fff;
  }
}
